.transaction-item {
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 10px;
  cursor: pointer; /* make the entire item clickable */
  overflow: hidden; /* keep the expanding content from spilling out */
  transition: max-height 0.2s ease-out; /* smooth transition for expanding */
}

.transaction-summary {
  display: flex;
  justify-content: space-between;
}

.expanded {
  max-height: 500px; 
}

.transaction-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding-top: 10px;
}

.category-section,
.notes-section {
  flex-basis: 50%; 
}

.category-section {
  padding-right: 10px;
}

.notes-section {
  padding-left: 10px;
}
